@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --box-shadow: 5px 5px 5px 2px rgba(90, 90, 90, 0.713);
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url(zaini-izzuddin-55btQzyDiO8-unsplash.jpg);
    background-position: center;
}

.container {
    height: 25em;
    width: 18.75em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    perspective: 37.5em;
}

.card {
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
    transition: 1s;
}

.card-rotate{
    transform: rotateY(180deg);
}


.front, 
.back {
    background-color: #ffffff;
    height: inherit;
    width: inherit;
    position: absolute;
    border-radius: 1em;
    backface-visibility: hidden;
}

.front img{
    display: block;
    margin: auto;
    width: 14.37em;
    border-radius: 1em;
    margin: 2em auto 2em auto;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 15px 15px 15px;
}

.back button,
.front button {
    width: 12.5em;
    font-size: 1em;
    background-color: #0961cc;
    color: #ffffff;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    border: none;
    outline: none;
  }
.new-book-container{
    padding: 5px;
    box-shadow: var(--box-shadow);
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

h1{
    font-weight: 600;
}

input[type=text] {
    width: 210px;
}

.new-book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    padding: 15px;
    margin: 20px 20px 0px 20px;
}

legend{
    text-align: center;
}

.new-book > label,
#status {
    align-self: start;
}

.side-bar{

    border-radius: 5px;
    position: absolute;
    height: 99vh;
    margin: 5px;
    width: max(20vw, 200px);
    box-shadow: var(--box-shadow);
    background-color: whitesmoke;
}

.book-list-header{
    text-align: center;
    padding: 15px 0px;
}

li {
    text-align: center;
    padding: 0.4em;
}

a,
a:link,
a:visited{
    text-decoration: none;
    color: rgb(75, 75, 75);
    padding-bottom: 2px;
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, black, black);
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: right bottom;
    transition: background-size 0.3s ease-in;
    
}

a:hover::before {
    background-size: 100% 2px;
}

a:hover{
    color: rgb(116, 0, 0);
}

fieldset {
    border-style: none;
    padding: 1.5em;
}

button {
    padding: 10px;
    margin: 5px;
}

span {
    padding: 0px 20px;
}

#read-status {
    width: 120px;
    height: 35px;
    background-color: rgb(255, 157, 0);
    padding: 0;
    margin: 0;
}